include pyproject.toml
include README.md
include models/llama3/tokenizer.model
include models/llama4/tokenizer.model
include models/resources/dog.jpg
include models/resources/pasta.jpeg
include models/llama3_1/prompt_format.md
include models/llama3_2/text_prompt_format.md
include models/llama3_2/vision_prompt_format.md
include llama_models/llama3/tokenizer.model
include llama_models/llama4/tokenizer.model
include llama_models/resources/dog.jpg
include llama_models/resources/pasta.jpeg
include llama_models/llama3_1/prompt_format.md
include llama_models/llama3_2/text_prompt_format.md
include llama_models/llama3_2/vision_prompt_format.md
